node_modules
/dist
/src/sequelize/config.js

# local env files
.env.local
.env.*.local

# Config files
config.dev.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
